<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--配置-->
    <!--登录验证-->
    <filter>
        <filter-name>Filter_servlet</filter-name>
        <filter-class>servlet.Filter_servlet</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter_servlet</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--乱码-->
    <filter>
        <filter-name>Encoding</filter-name>
        <filter-class>servlet.Encoding</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--欢迎页-->
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <!--登录-->
    <servlet>
        <servlet-name>Login_servlet</servlet-name>
        <servlet-class>servlet.Login_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_servlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!--编辑-->
    <servlet>
        <servlet-name>Edit_servlet</servlet-name>
        <servlet-class>servlet.News</servlet-class>
        <init-param>
            <param-name>opera</param-name>
            <param-value>edit</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Edit_servlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <!--删除-->
    <servlet>
        <servlet-name>Delete_servlet</servlet-name>
        <servlet-class>servlet.News</servlet-class>
        <init-param>
            <param-name>opera</param-name>
            <param-value>delete</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete_servlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <!--添加-->
    <servlet>
        <servlet-name>Add_Servlet</servlet-name>
        <servlet-class>servlet.News</servlet-class>
        <init-param>
            <param-name>opera</param-name>
            <param-value>add</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_Servlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <!--监听器-->
    <!--  <listener>
          <listener-class>servlet.JianT.SercontentListener</listener-class>
      </listener>-->
    <listener>
        <listener-class>servlet.SerConAttLis</listener-class>
    </listener>
    <!--首页-->
    <servlet>
        <servlet-name>MyJsp_servlet</servlet-name>
        <servlet-class>servlet.News</servlet-class>
        <init-param>
            <param-name>opera</param-name>
            <param-value>myjsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyJsp_servlet</servlet-name>
        <url-pattern>/myjsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servlet_type</servlet-name>
        <servlet-class>servlet.News</servlet-class>
        <init-param>
            <param-name>opera</param-name>
            <param-value>type</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_type</servlet-name>
        <url-pattern>/type</url-pattern>
    </servlet-mapping>
    <!--类型添加-->
    <servlet>
        <servlet-name>typeAdd_servlet</servlet-name>
        <servlet-class>servlet.Types</servlet-class>
        <init-param>
            <param-name>opera</param-name>
            <param-value>typeAdd</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>typeAdd_servlet</servlet-name>
        <url-pattern>/typeAdd</url-pattern>
    </servlet-mapping>
    <!--类型删除-->
    <servlet>
        <servlet-name>typeDelete_servlet</servlet-name>
        <servlet-class>servlet.Types</servlet-class>
        <init-param>
            <param-name>opera</param-name>
            <param-value>typeDelete</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>typeDelete_servlet</servlet-name>
        <url-pattern>/deleteType</url-pattern>
    </servlet-mapping>
    <!--用户删除-->
    <servlet>
        <servlet-name>userDelete_servlet</servlet-name>
        <servlet-class>servlet.User</servlet-class>
        <init-param>
            <param-name>opera</param-name>
            <param-value>userDelete</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDelete_servlet</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <!--用户添加-->
    <servlet>
        <servlet-name>userAdd_servlet</servlet-name>
        <servlet-class>servlet.User</servlet-class>
        <init-param>
            <param-name>opera</param-name>
            <param-value>userAdd</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAdd_servlet</servlet-name>
        <url-pattern>/userAdd</url-pattern>
    </servlet-mapping>
    <!--用户首页-->
    <servlet>
        <servlet-name>userManage_servlet</servlet-name>
        <servlet-class>servlet.User</servlet-class>
        <init-param>
            <param-name>opera</param-name>
            <param-value>userManage</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>userManage_servlet</servlet-name>
        <url-pattern>/userManage</url-pattern>
    </servlet-mapping>

</web-app>
